language: 
  - python

python:
  - "2.7.6"

before_script:
  - curl -fsSL https://testspace-client.s3.amazonaws.com/testspace-linux.tgz | tar -zxvf- -C $HOME/bin
  - testspace config url samples.testspace.com
  - sudo pip install -r requirements.txt
  - sudo apt-get install pylint
 
script: 
  - pylint stock_alerter/ -f parseable > analysis.txt || true
  - nose2 --junit-xml --with-coverage 

after_script:
  - testspace analysis.txt{lint} nose2.xml{stock_alerter} coverage.xml